.input {
  width: 100%;
  /* max-width: 300px; */
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #1f2937;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

@media (min-width: 640px) {
  .input {
    height: 3rem;
    width: 100%;
    font-size: 0.875rem;
  }
}

.input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.input:hover {
  border-color: #3b82f6;
}

.input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.4);
}

.input::-webkit-calendar-picker-indicator:hover {
  filter: invert(0.6);
}

@media (prefers-color-scheme: dark) {
  .input {
    border-color: #4b5563;
    background-color: #374151;
    color: #e5e7eb;
  }

  .input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .input:hover {
    border-color: #3b82f6;
  }
}
